@tailwind base;
@tailwind components;
@tailwind utilities;

@import './reset.css';

@layer components {
  .primary-btn {
    @apply bg-cyan text-white font-bold py-4 px-10;
    border-radius: 28px;
    &:hover {
      background-color: #9AE3E3;;
    }
    &.square {
      border-radius: 10px;
      &.active {
        @apply bg-purple;
      }
    }
  }

  .nav-link {
    @apply flex items-center justify-center text-white font-bold text-lg lg:hover:text-black-text lg:justify-start lg:text-gray-dark lg:text-base hover:transition-all;
    cursor: pointer;
  }
}