@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-btn {
    @apply bg-cyan text-white font-bold py-2 px-4;
    border-radius: 28px;
    &:hover {
      background-color: #9AE3E3;;
    }
    &.square {
      border-radius: 10px;
      &.active {
        @apply bg-purple;
      }
    }
  }

  .nav-link {
    @apply text-gray-text flex items-center;
    cursor: pointer;
    &:hover {
      @apply text-black-text;
    }
  }

  .nav.mobile {
    .nav-link {
      @apply text-white;
      &:hover {
        color: white;
      }
    }
  }
}